#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#uploadForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

#uploadForm > div {
  margin-top: 25px;
}


input {
  margin-top: 5px;
}